body {
	background: #ccc;
}

#show-buttons {
	text-align: center;

}

#show-form {
	text-align: center;

}

.show-button {
	padding: 5px;
	margin: 5px;

}

#shows {

}

.show-result {
	float: left;
	padding: 20px;
	text-align: center;

}